<p>Delayed::Job.count: <%= Delayed::Job.count %></p>

<table id="jobs">
  <thead>
    <tr>
      <th>priority</th>
      <th>attempts</th>
      <th>handler</th>
      <th>last_error</th>
      <th>run_at</th>
      <th>locked_at</th>
      <th>failed_at</th>
      <th>locked_by</th>
      <th>created_at</th>
      <th>updated_at</th>
    </tr>
  </thead>
  <tbody>
    <% Delayed::Job.all.reverse.each do |job| %>
      <tr class="job" id="job-<%= job.id %>">
        <td><%= job.priority %></td>
        <td><%= job.attempts %></td>
        <td><%= truncate(job.handler || 'nil', :length => 50).gsub('---', '') %></td>
        <td><%= truncate(job.last_error || 'nil', :length => 50) %></td>
        <td><%= job.run_at.present? ? job.run_at.to_s(:short) : '-' %></td>
        <td><%= job.locked_at.present? ? job.locked_at.to_s(:short) : '-' %></td>
        <td><%= job.failed_at.present? ? job.failed_at.to_s(:short) : '-' %></td>
        <td><%= job.locked_by || '-' %></td>
        <td><%= job.created_at.to_s(:short) %></td>
        <td><%= job.updated_at.to_s(:short) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
